fastapi
uvicorn[standard]
flask
jinja2
python-multipart

pydantic
python-dotenv

transformers
accelerate
bitsandbytes
sentencepiece
tokenizers


python-docx
lxml
diff-match-patch

redis
celery[redis]

minio

loguru
tqdm
